.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
  padding-inline: 200px;
  padding-block: 60px;
  justify-content: center;
}

.gallery-img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (max-width: 1085px) {
  .gallery-grid {
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    padding-block: 40px;
  }
}

@media (max-width: 835px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    padding-block: 30px;
    gap: 10px;
    justify-content: center;
    padding-inline: 10px;
  }
}
