@font-face {
    font-family: OpenSansL;
    src: url('./assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: OpenSansB;
    src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: BebasNu;
    src: url('./assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: Italic;
    src: url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: ItalicB;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}